.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: large;
}
button:hover{
background-color: rgb(4, 68, 68);
color: wheat;
}
.options{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}
.humanChoice, .result, .computerChoice{
    border: solid aqua;
    border-radius: 4px;
    width: 150px;
    height: auto;

}
.choicesContainer{
    display: flex;
    height: 200px;
    justify-content: center;
    gap: 50px;
}
#humanScore, #computerScore{
    border: solid aqua;
    border-radius: 4px;
    width: 50%;
}
.scoresContainer{
    display: flex;
    height: 150px;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}