#playerSelection{
    display: flex;
    flex-direction:row ;
    gap: 50px;
    margin: 200px 20px 20px 100px;
    justify-content: center;
}
button{
    padding: 20px;
    border-radius: 4px;
    background-color: blue;
    color: white;
    width: 120px;
}
h1, h2{
    text-align: center;
}
p{
    text-align: center;
    font-size: 20px;
    color: red;
    background-color: darkgray;
    margin: 100px;
    padding: 20p;
}